@import "../../style.scss";

.home{
  @include themify($themes) {
    padding: 20px 70px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #1cb2f7 0%,  #FAD961 100%);
    border-radius: 20px;
    
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }